.container-fluid
  %h1 New Project in the Works!
  %p This will eveutually be an elearning site complete with learner portals and teacher portals.
  = link_to "Privacy Policy", privacy_policy_path, class: 'btn btn-lg btn-warning'
  = link_to privacy_policy_path, class: 'btn btn-lg btn-warning' do
    %i.far.fa-file-word
    Privacy Policy

  = link_to courses_path, class: 'btn btn-success' do
    .fa.fa-book
    Course